Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.sdf
Build/
TimeTravelTest/Content/SM/SM_Jungle/Mushroom_Mesh.uasset
TimeTravelTest/Content/MAP/MainMenu/MainMenuNew.umap
TimeTravelTest/Content/MAP/MainMenu/MainMenuNew.umap
TimeTravelTest/Content/MAP/Level01/Level01_Persistent.umap
TimeTravelTest/Content/MAP/Intro/Intro_Jungle.umap
TimeTravelTest/Content/MAP/Intro/Intro_Jungle.umap
TimeTravelTest/Content/MAP/Intro/Intro_Level.umap
TimeTravelTest/Content/MAP/Intro/Intro_Level_BuiltData.uasset
TimeTravelTest.zip
