Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.sdf
Build/
TimeTravelTest/Content/SM/SM_Jungle/Mushroom_Mesh.uasset
TimeTravelTest/Content/MAP/MainMenu/MainMenuNew.umap
TimeTravelTest/Content/MAP/MainMenu/MainMenuNew.umap
